* {
  margin: 0;
  padding: 0;
}

body {
  background: #fbf7f7;
}

.dropdown {
  width: 100%;
  text-align: center;
}

.dropdown .dropdown-btn {
  padding: 15px;
  background: #fbf7f7;
  color: #ff5454;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}

.dropdown .dropdown-content {
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #ff5454;
  color: #fff;
}

.ql-toolbar.ql-snow  {
  width: auto !important;
  border: none !important;
}

.ql-container {
  font-family: 'KOTRAHOPE' !important;
  border: none !important;
}
.ql-editor {
  padding: 20px !important;
  height: 54vh !important;
  font-size: 20px;
  font-weight: 400;
}

.ql-editor.ql-blank::before{
  color: #ccc !important;
  font-size: 20px;
  font-weight: 400;
}

.ql-formats {
  margin: 0 !important;
}

.ql-fill {
  fill: #909792 !important ;
}

.ql-stroke {
  stroke: #909792 !important ;
}
