* {
  margin: 0;
  padding: 0;
}

body {
  background: #fbf7f7;
}

.dropdown {
  width: 100%;
  text-align: center;
}

.dropdown .dropdown-btn {
  padding: 15px;
  background: #fbf7f7;
  color: #ff5454;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}

.dropdown .dropdown-content {
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: #333;
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #ff5454;
  color: #fff;
}

/* 글 작성 텍스트 에디터 스타일 */
.ql-toolbar.ql-snow {
  width: 100% !important;
  border: none !important;
  padding: 0 !important;
}

.ql-container {
  font-family: "NotoSansCJK" !important;
  border: none !important;
}
.ql-editor {
  padding: 20px !important;
  height: 55vh !important;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: -0.4px;
}

.ql-editor.ql-blank::before {
  color: #ccc !important;
  font-size: 1.3rem;
}

.ql-formats {
  width: 90%;
  margin: 0 5% !important;
  display: flex !important;
}

.ql-fill {
  fill: #909792 !important ;
}

.ql-stroke {
  stroke: #909792 !important ;
}
#emoji-palette {
  width: 100% !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

#tab-toolbar .active {
  border-bottom: 3px solid #ff5454 !important;
}

.ql-size-large {
  font-size: 2.3em !important;
}

.ql-size-medium{
  font-size: 1.3rem !important;
}

.ql-size-small {
  font-size: 1em !important;
}

iframe {
  width: 100% !important;
  height: 30vh !important;
}

.ql-snow .ql-tooltip {
  width: auto !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* 전체 생드백 리스트 모달 스타일 - TbListFilterModal */
#ListFilter {
  width: 100%;
}

#ListFilter-btn {
  width: 100%;
  height: 41px;
  font-size: 1rem;
  padding: 0;
  color: #333;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ListFilter-content {
  width: 95px;
  height: auto;
  left: 70%;
  transform: none;
  top: 166px;
}

#ListFilter-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

#ListFilter-item:nth-child(2) {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* 웰컴페이지 스와이프 스타일 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 100%;
  left: 50%;
  bottom: 43.5vh;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff !important;
  border: 2px solid #333;
  opacity: 1;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #333 !important;
}

/* 카테고리 스와이프 스타일 */
.mySwiper2 {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.swiper-slide2 {
  background-color: transparent;
  width: auto !important;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.checkcss {
  appearance: none;
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z' fill='%23FBF7F7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.8272 7.74236C18.1844 8.07931 18.2008 8.64202 17.8639 8.99921L10.788 16.5L6.15446 11.8664C5.80724 11.5192 5.80724 10.9563 6.15446 10.609C6.50167 10.2618 7.06462 10.2618 7.41184 10.609L10.7508 13.948L16.5704 7.779C16.9073 7.42182 17.4701 7.40541 17.8272 7.74236Z' fill='%23333333'/%3E%3C/svg%3E%0A");  
  border-radius: 20px;
  cursor: pointer;
}

.checkcss:active,
.checkcss:checked{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z' fill='%23FF5454'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.8272 7.74236C18.1844 8.07931 18.2008 8.64202 17.8639 8.99921L10.788 16.5L6.15446 11.8664C5.80724 11.5192 5.80724 10.9563 6.15446 10.609C6.50167 10.2618 7.06462 10.2618 7.41184 10.609L10.7508 13.948L16.5704 7.779C16.9073 7.42182 17.4701 7.40541 17.8272 7.74236Z' fill='white'/%3E%3C/svg%3E%0A");
  transition: 0.3s;
}

.labelcss {
  cursor: pointer;
  font-size: 2vh;
}

/* 좋아요 버튼 css */
#Like-Button {
  display: flex;
  width: 42px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

#heart-svg {
  overflow: visible;
  width: 100%;
}
svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}
svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
}

.checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #ff5454;
  animation: animateHeart 0.3s linear forwards 0.25s;
}
.checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
.checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* 모달 css */
.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9900;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal > section {
  width: 219px;
  margin: 0 auto;
  /* 팝업 애니메이션 */
  animation: modal-show 0.3s;
  display: flex;
  max-height: 100%;
}

.modal > section > main {
  width: 100%;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업 애니메이션 */
  animation: modal-bg-show 0.1s ease-out;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 오류모달 */

.swal2-popup {
    width: 24em !important;
    padding: 0px 0 2em !important;
    border-radius: 10px !important;
}

.swal2-icon {
  width: 5em !important;
  height: 5em !important; 
  margin: 2rem auto 0.3rem auto !important;
}

.swal2-icon .swal2-icon-content {
  font-size: 2.3em !important;
}

.swal2-title {
  padding: 0.4em 1em 0 !important;
}

.swal2-html-container {
  margin: 1em 1.6em 0 1.6rem !important;
}

.swal2-styled.swal2-confirm {
  border-radius: 0.3em !important;
  background-color: #ff5454 !important;
  color: #fff !important;
  font-weight: bold !important;
  font-size: 1em !important;
  padding: 0.625em 3em !important;
}
